<ion-header>
    <ion-toolbar color="shade">
        <ion-buttons slot="start" style="height: 30px;">
            <ion-title>
                Reporte
            </ion-title>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-img style="height: 35px; " src="assets/logoTrucka.png"></ion-img>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="primera" class="main">
        <h2>{{trailer}}</h2>
        <h2 style="color: black;">{{reporte[posicion].ubicacion}}</h2>
        <ion-img style="height: 300px;" src="{{foto_1}}"></ion-img>
    </div>

    <div *ngIf="primera">
        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <div>
                        <ion-list>

                            <ion-radio-group [(ngModel)]="reporte[posicion].estado" (ngModelChange)="checarEstado()">
                                <ion-list-header>
                                    <h3 class="h3"> {{reporte[posicion].nombre}}</h3>
                                </ion-list-header>

                                <ion-item>
                                    <ion-label>Buen Estado</ion-label>
                                    <ion-radio slot="start" value="Buen Estado"></ion-radio>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Dañado</ion-label>
                                    <ion-radio slot="start" value="Dañado"></ion-radio>
                                </ion-item>

                                <ion-item>
                                    <ion-label>No Existe</ion-label>
                                    <ion-radio slot="start" value="No Existe"></ion-radio>
                                </ion-item>


                            </ion-radio-group>
                        </ion-list>

                        <ion-list *ngIf="reporte[posicion].estado === 'Dañado'">
                            <ion-radio-group [(ngModel)]="reporte[posicion].valor" (ngModelChange)="checarEstado()">


                                <ion-list-header>
                                    <h3>Selecciona el daño encontrado</h3>
                                </ion-list-header>

                                <ion-item *ngIf="reporte[posicion].valor1">
                                    <ion-label>{{reporte[posicion].valor1}}</ion-label>
                                    <ion-radio slot="start" value="{{reporte[posicion].valor1}}"></ion-radio>
                                </ion-item>
                                <ion-item *ngIf="reporte[posicion].valor2">
                                    <ion-label>{{reporte[posicion].valor2}}</ion-label>
                                    <ion-radio slot="start" value="{{reporte[posicion].valor2}}"></ion-radio>
                                </ion-item>
                                <ion-item *ngIf="reporte[posicion].valor3">
                                    <ion-label>{{reporte[posicion].valor3}}</ion-label>
                                    <ion-radio slot="start" value="{{reporte[posicion].valor3}}"></ion-radio>
                                </ion-item>
                                <ion-item *ngIf="reporte[posicion].valor4">
                                    <ion-label>{{reporte[posicion].valor4}}</ion-label>
                                    <ion-radio slot="start" value="{{reporte[posicion].valor4}}"></ion-radio>
                                </ion-item>

                            </ion-radio-group>
                        </ion-list>
                    </div>
                </ion-col>

            </ion-row>
        </ion-grid>
        <br>
        <br>
        <ion-grid fixed *ngIf="reporte[posicion].estado === 'Dañado'">
            <ion-row>
                <h3>Fotografia</h3>
                <ion-col>
                    <ion-fab vertical="bottom" horizontal="center">
                        <ion-fab-button (click)="hacerFoto()"
                            *ngIf="reporte[posicion].estado === 'Dañado' && !reporte[posicion].imagen[0]  ">
                            <ion-icon name="camera"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                    <!-- <img (click)="hacerFoto()" src="assets/addImage.png" style="height: 70px;  margin-top: 10px; margin-right: 10px;" *ngIf="reporte[posicion].estado === 'Dañado' && !reporte[posicion].imagen[0]  "> -->
                </ion-col>

            </ion-row>
        </ion-grid>
        <ion-grid fixed>
            <ion-row>
                <ion-col>

                    <ion-slides #slides *ngIf="reporte[posicion].imagen[0]" [options]="slideOpts">
                        <ion-slide *ngFor="let foto of reporte[posicion].imagen index as i">
                            <ion-grid>
                                <ion-row>
                                    <ion-img src="{{foto}}"></ion-img>

                                </ion-row>
                                <ion-row>
                                    <ion-label style="margin-top: 10px; margin-right:160px; ">{{i + 1}} de {{longitudImagenes}}</ion-label>

                                    <ion-button (click)="hacerFoto()" color="light" style="  width: 50px ; height : 50px ;">
                                        <ion-icon class="add" name="camera-outline"></ion-icon>
                                    </ion-button>

                                    <ion-button color="light" (click)="eliminarImagen(i)" style="  width: 50px ; height : 50px ;">
                                        <ion-icon class="trash" name="trash-outline"></ion-icon>
                                    </ion-button>
                                </ion-row>
                            </ion-grid>



                        </ion-slide>


                    </ion-slides>
                </ion-col>

            </ion-row>
        </ion-grid>

        <ion-grid fixed *ngIf="reporte[posicion].estado === 'Dañado'">
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-label class="comentario">Comentarios</ion-label>

                                </ion-row>


                            </ion-grid>
                            <ion-item>

                                <ion-textarea placeholder="Escribe tus observaciones..."
                                    [(ngModel)]="reporte[posicion].comentario">
                                </ion-textarea>
                            </ion-item>
                        </ion-card-content>
                        <br>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>
        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <ion-button (click)="anterior()" *ngIf="posicion > 0" mode="ios">Anterior </ion-button>
                </ion-col>


                <ion-col style="float: right;">
                    <ion-button (click)="siguiente()" style="float: right;" mode="ios">Siguiente </ion-button>

                </ion-col>

            </ion-row>

        </ion-grid>
    </div>

</ion-content>