.centrado {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

ion-card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:  #d7d8da;
    border-radius: 40px;
}

.fuente1 {
    font-weight: bold;
    font-size: 18px;
}

.fuente2 {
    font-weight: bold;
    text-transform: uppercase;
}

.trash {
    color: rgb(241, 35, 35);
    text-align: right;
}

.add {
    color: rgb(26, 23, 23);
    text-align: right;
}
ion-toolbar{
    background-color:  #d7d8da;
}