.fuente1 {
    font-weight: bold;
    font-size: 18px;
}

.fuente2 {
    font-weight: bold;
}

ion-searchbar {
    margin: auto;
    width: 350px;
    text-transform: uppercase;
}

.my-custom-class {
    text-transform: uppercase;
    
}

ion-toolbar{
    background-color:  #d7d8da;
}

ion-card{
    background-color:  #d7d8da;
}
