<ion-header>

  <ion-toolbar color="shade">

      <ion-buttons style="height: 30px;">

          <ion-title>Busqueda</ion-title>
          <ion-img style="height: 40px; margin-center: 140px;" src="assets/logoTrucka.png"></ion-img>
      </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
          refreshingSpinner="circles" refreshingText="Actualizando...">
      </ion-refresher-content>
  </ion-refresher>
  <div>
      <ion-toolbar>
          <ion-searchbar style="margin-top: 30px;" class="mayusculas" placeholder="Codigo de la unidad"
              value="{{numero}}" [(ngModel)]="numero" animated="true" mode="ios"></ion-searchbar>
      </ion-toolbar>
      <ion-grid fixed>
          <ion-row>
              <ion-col size="12" size-lg="8" size-md="8" size-sm="10">
                  <ion-button style="float: right;" (click)="vbuscador()" color="danger" animated="true" mode="ios">
                      Buscar</ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid fixed>
          <ion-row>
              <ion-col size="12" size-lg="10" size-md="8" size-sm="12">
                  <ion-card *ngIf="MostrarInfo" mode="ios">
                      <ion-card-content>

                          <ion-card-subtitle class="fuente1" color="danger">Datos de la unidad.</ion-card-subtitle>
                          <br>

                          <ion-card-subtitle class="fuente1">Conductor:</ion-card-subtitle>
                          <ion-item>
                              <ion-label class="fuente2">{{Numeconomico.recordset[0].nom_tra}}</ion-label>
                          </ion-item>

                          <ion-card-subtitle class="fuente1">Numero de Placa:</ion-card-subtitle>
                          <ion-item>
                              <ion-label class="fuente2">{{Numeconomico.recordset[0].placas_uni}}</ion-label>
                          </ion-item>

                      </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid fixed *ngIf="MostrarInfo">
          <ion-row>
              <ion-col style="float: right;">
                  <ion-button style="float: left;" (click)=" BtnCancelar()" color="danger" mode="ios">Cancelar
                  </ion-button>
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col style="float: right;">
                  <ion-button style="float: left;" (click)="alertNull()" color="danger" mode="ios">Siguiente
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid fixed>
          <ion-row>
              <ion-col size="12" size-lg="8" size-md="8" size-sm="10">
                  <div style="float: right;" *ngIf="!MostrarInfo">
                      <h1>No hay datos para mostrar</h1>
                  </div>

              </ion-col>

          </ion-row>
      </ion-grid>
  </div>

</ion-content>