<ion-header>
    <ion-toolbar color="shade">

        <ion-buttons slot="start">

            <ion-menu-button (click)="openFirst()"></ion-menu-button>
        </ion-buttons>
        <ion-buttons style="height: 30px;">

            <ion-title>Inicio Reportes.</ion-title>


            <ion-img style="height: 40px; margin-center: 130px;" src="assets/logoTrucka.png"></ion-img>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>
    <br>
    <ion-grid fixed>

        <ion-row>
            <ion-col style="float: right;" size="12" size-lg="10" size-md="12" size-sm="12">
                <ion-searchbar [(ngModel)]="busqueda" animated="true" placeholder="inserta codigo de unidad" mode="ios">
                </ion-searchbar>
                <br>
                <!-- <ion-button style="float: right;" color="danger" routerLink="/busqueda">Nuevo Reporte</ion-button> -->
            </ion-col>
        </ion-row>
        <ion-row><br></ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <!-- <ion-col style="font-size: 12px; float: right;">Total_Reportes</ion-col> -->
            <ion-col class="fuente" style="font-size: 12px; float: right;">Daños</ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="10" size-md="12" size-sm="12">

                <ion-card *ngFor="let reporte of start.recordset | filter:busqueda index as i" mode="ios"
                    style="border-radius: 30px;">

                    <ion-card-content (click)="Historial(i)">
                        <ion-card-subtitle ngClass="rojo"></ion-card-subtitle>
                        <ion-card-subtitle
                            style=" margin-top: 10px; font-weight: bold; font-size: 14px; color: rgb(235, 19, 19);">
                            {{reporte.num_unidad}}
                            <!-- <div *ngIf="rep.estado === 'fallo'" style="float: right; font-size: 16px; font-weight: bold; background-color: blue; color: white; width: 20px; text-align: center; border-radius: 3px;">2</div> -->
                            <div
                                style="float: right; font-size: 16px; font-weight: bold; margin-right: 20px; background-color: red; color: white; width: 20px; text-align: center; border-radius: 3px;">
                                {{reporte.Numero_damage}}</div>
                            <!-- <div style="float: right; font-size: 16px; font-weight: bold; margin-right: 50px; background-color: red; color: white; width: 20px; text-align: center; border-radius: 3px;">4</div>  -->
                        </ion-card-subtitle>


                        <ion-card-subtitle style=" margin-top: 10px; font-weight: bold; font-size: 14px;">
                            {{reporte.operador}}</ion-card-subtitle>
                        <ion-card-subtitle style=" margin-top: 10px; font-weight: bold; font-size: 14px;">
                            {{reporte.fecha }}</ion-card-subtitle>

                    </ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>