.button {
    position: right;
}

ion-item {
    margin-left: 10px;
    margin-right: 10px;
}

.fuente {
    font-weight: bold;
}

ion-card-content {
    text-transform: uppercase;
    background-color:  #d7d8da;
}

.interna{
    height: fit-content;
}

.rojo{
    color: #eb445a;
    float: left;
}
ion-card-subtitle {
    font-weight: bold;
    font-size: 16px;
}

ion-toolbar{
    background-color:  #d7d8da;
}