<ion-app>
    <ion-menu type="push" side="start" menuId="first" contentId="Primermenu" class="my-custom-menu" mode="ios">
        <ion-header>
            <ion-toolbar color="danger">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="/inicio-administracion" (click)=" openEnd()">
                    <ion-icon slot="start" name="home-sharp"></ion-icon>
                    <ion-label class="fuente">Inicio.</ion-label>
                </ion-item>
                <ion-item routerLink="/busqueda" (click)=" openEnd()">
                    <ion-icon slot="start" name="create-sharp"></ion-icon>
                    <ion-label class="fuente">Generar Nuevo Reporte.</ion-label>
                </ion-item>
                <ion-item routerLink="/historial-tractos" (click)=" openEnd()">
                    <ion-icon slot="start" name="calendar-sharp"></ion-icon>
                    <ion-label class="fuente">Historial de Reportes de una unidad.</ion-label>
                </ion-item>

                <ion-item routerLink="/start" (click)=" openEnd()">
                    <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
                    <ion-label class="fuente">Consultar Total de Reportes.</ion-label>
                </ion-item>
                <ion-item routerLink="/tipoestado" (click)=" openEnd()">
                    <ion-icon slot="start" name="build-sharp"></ion-icon>
                    <ion-label class="fuente">Nuevo Tipo de Estado.</ion-label>
                </ion-item>
                <ion-item routerLink="/administracion" (click)=" openEnd()">
                    <ion-icon slot="start" name="body"></ion-icon>
                    <ion-label class="fuente">Administración de Piezas.</ion-label>
                </ion-item>
                <ion-item routerLink="/nuevainspeccion" (click)=" openEnd()">
                    <ion-icon slot="start" name="bulb-sharp"></ion-icon>
                    <ion-label class="fuente">Nueva Inspección.</ion-label>
                </ion-item>
                <ion-item  (click)=" cerrar_sesion()">
                    <ion-icon slot="start" name="arrow-undo-sharp"></ion-icon>
                    <ion-label class="fuente">Cerrar sesión.</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="Primermenu"></ion-router-outlet>
</ion-app>