.centrado {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

ion-card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #d7d8da;
    border-radius: 40PX;
}
ion-toolbar{
    background-color:  #d7d8da;
}
.fuente1 {
    font-weight: bold;
    font-size: 18px;
}

.fuente2 {
    font-weight: bold;
    text-transform: uppercase;
}

.ba {
    background-color: rgba(241, 82, 82);
    border: 1px solid black;
    text-align: center;
    color: rgb(251, 251, 251);
    font-size: 20px;
}

.row {
    border: 1px solid black;
    text-align: left;
    font-size: 18px;
}

.trash {
    color: rgb(241, 35, 35);
    text-align: right;
}

.add {
    color: rgb(26, 23, 23);
    text-align: right;
}